{% extends 'sidebar.html' %}
{% load static %}
{% block content %}
<html lang="en">
  <head>


    <title>Customers Details</title>



  </head>


          <!-- Begin Page Content -->
          <!-- Add Items and List Tab -->
          <!-- Add Items and List Tab -->
           <!-- Page Heading -->
           <div
           class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10px;"
         >
           <h1 class="h3 mb-0 text-gray-800">Customers Details</h1>
           <a
             href="#"
             class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             ><i class="fas fa-download fa-sm text-white-50"></i> Generate
             Report</a
           >
         </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Add Items</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Items</a
              >
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            > <form  action="{% url 'add_customers' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm" style="margin-left:10px;">
                  <div class="input-group-lg mb-3">
                    <input required
                      type="text"
                      class="form-control"
                      placeholder="user"
                      style="margin-top: 30px"
                       name="username"
                    />
                  </div>

                  <!-- Name -->
                  <div class="input-group-lg mb-3">
                    <input
                            required
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      style="margin-top: 30px"
                      name="customer_name"
                    />
                  </div>
                  <!-- Email -->
                  <div class="input-group-lg mb-3">
                    <input
                            required
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      style="margin-top: 30px"
                      name="email"
                    />
                  </div>
                </div>

                <!-- Second Colom -->
                <div class="col-sm" style="margin-left: 10px;">
                  <!-- Company Name -->
                  <div class="input-group-lg mb-3">
                    <input
                            required
                      type="text"
                      class="form-control"
                      placeholder="Company Name"
                      style="margin-top: 30px"
                      name="company_name"
                    />
                  </div>

                  <!-- Contact -->
                  <div class="input-group-lg mb-3" data-validate="integer is required">
                    <input
                            required
                      type="tel"
                      class="form-control"
                      placeholder="Contact 9876543211"
                      style="margin-top: 30px"
                      name="customer_contact"
                            pattern="[0-9]{10}"
                    />
                  </div>

                  <!-- Company Contact -->
                  <div class="input-group-lg mb-3"  data-validate="integer is required">
                    <input
                            required
                      type="tel"
                      class="form-control"
                      placeholder="Company Contact 014-540987"
                      style="margin-top: 30px"
                      name="company_contact"
                            pattern="[0-9]{3}[0-9]{6}"
                    />
                  </div>

                  <!-- Pan Number -->
                  <div class="input-group-lg mb-3">
                    <input
                            required
                      type="text"
                      class="form-control"
                      placeholder="Pan Number"
                      style="margin-top: 30px"
                      name="pan_number"
                    />
                  </div>
                </div>
              </div>
              <button type="submit" value="Submit" class="btn btn-primary" style="margin-left:10px ;">Submit</button>
            </form>
            </div>
            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <!--  <div class="card shadow mb-4"> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Customer Details
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr class="table-info">
                            <th>User</th>
                            <th>Customer Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Company Name</th>
                            <th>Contact</th>
                            <th>Company Contact</th>
                            <th>Pan No</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="table-info">
                            <th>User</th>
                            <th>Customer Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Company Name</th>
                            <th>Contact</th>
                            <th>Company Contact</th>
                            <th>Pan No</th>
                            <th>Actions</th>
                          </tr>
                        </tfoot>
                        <tbody>
                        {% for customer in customer_list %}
                          <tr>
                            <td>{{ customer.username}}</td>
                            <td>{{ customer.id}}</td>
                            <td>{{ customer.customer_name}}</td>
                            <td>{{ customer.email}}</td>
                            <td>{{ customer.company_name}}</td>
                            <td>{{ customer.customer_contact}}</td>
                            <td>{{ customer.company_contact}}</td>
                            <td>{{ customer.pan_number}}</td><td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>

                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

            <!-- Vendor List Table -->
             </div>
            <!-- /.container-fluid -->
             </div>
            <!-- End of Main Content -->
            </div>
          </div>
        </div>




        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
   {% endblock content %}




  </body>
</html>
