{% extends 'sidebar.html' %}
{% load static %}
{% block content %}


<body>
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-download fa-sm text-white-50"></i> Generate
                Report</a
              >
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Earnings (Monthly)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          $40,000
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Earnings (Annual)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          $215,000
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-info text-uppercase mb-1"
                        >
                          Tasks
                        </div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div
                              class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                            >
                              50%
                            </div>
                          </div>
                          <div class="col">
                            <div class="progress progress-sm mr-2">
                              <div
                                class="progress-bar bg-info"
                                role="progressbar"
                                style="width: 50%"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-clipboard-list fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            
            </div>

            <!-- Content Row -->
            <div class="row">
                <!-- In Table -->
            <div class="col-xl-6 col-md-6 mb-4"><table class="table table-bordered" id="dataTable" width="50%" cellspacing="0">
                <thead>
                    <tr class="table-success">
                        <th><span style="color:green">Stock In <i class="fas fa-fw fa-caret-up"></i></span></th>
                        
                    </tr>
                </thead>
                <tbody>
                    
                        <tr>
                          
                            <td>$320,800</td>
                        </tr>
                        <tr>
                           
                            <td>$170,750</td>
                        </tr>
                        <tr>
                            
                            
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            
                            
                            <td>$433,060</td>
                        </tr>
                        <tr>
                          
                            
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            
                            
                            <td>$372,000</td>
                        </tr>
                        <tr>
                           
                            
                            <td>$137,500</td>
                        </tr>
                        <tr>
                            
                            
                            <td>$327,900</td>
                        </tr>
                        <tr>
                            
                            
                            <td>$205,500</td>
                        </tr>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th class="table-success"><span style="color: green;"> Stock In <i class="fas fa-fw fa-caret-up"></i></span></th>
                        
                    </tr>
                </tfoot>
                </table>
            </div>
            
            <!-- Content Row -->
            <!-- Out Table -->
            <div class="col-xl-6 col-md-6 mb-4">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="table-danger">
                            <th><span style=color:red>Stock Out <i class="fas fa-fw fa-caret-down"></i></span></th></tr>
                            <tbody>
                                <tr>
                                  
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                   
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                  
                                    
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>$372,000</td>
                                </tr>
                                <tr>
                                   
                                    
                                    <td>$137,500</td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>$327,900</td>
                                </tr>
                                <tr>
                                    
                                    
                                    <td>$205,500</td>
                                </tr>
                            </tbody>
                            
                       
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="table-danger"> <span style="color: red;">Stock Out <i class="fas fa-fw fa-caret-down"></i></span></th>
                            
                        </tr>
                    </tfoot>
                    </table>
                   
            </div>
          
            </div>
            
        <!-- End of Main Content -->


    
    <!-- End of Page Wrapper -->

{% endblock content %}
  </body>
</html>
