{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>


    <title>item Details</title>



  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

          <!-- Begin Page Content -->
        
           <!-- Page Heading -->
           <div
           class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10px;"
         >
           <h1 class="h3 mb-0 text-gray-800">Item Details</h1>
           <a
             href="{% url 'export_pdf' %}"
             class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             ><i class="fas fa-download fa-sm text-white-50"></i> Generate
             Report</a
           >
         </div>
          <!-- Content Row -->
          <div class="row" style="margin-left: 10px;">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                      >
                        Earnings (Monthly)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        $40,000
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-success text-uppercase mb-1"
                      >
                        Earnings (Annual)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        $215,000
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div
                        class="text-xs font-weight-bold text-info text-uppercase mb-1"
                      >
                        Tasks
                      </div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div
                            class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                          >
                            50%
                          </div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div
                              class="progress-bar bg-info"
                              role="progressbar"
                              style="width: 50%"
                              aria-valuenow="50"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i
                        class="fas fa-clipboard-list fa-2x text-gray-300"
                      ></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          
          </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Add Items</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Items</a
              >
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            ><form   action="{% url 'add_items' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm" style="margin-left:10px;">
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="user"
                      style="margin-top: 30px"
                       name="username"
                    />
                  </div>

                  <!-- Name -->
                  <div class="input-group-lg mb-3">
                    <input
                       action="register" method="post"
                      type="text"
                      class="form-control"
                      placeholder="Item Name"
                      style="margin-top: 30px"
                       name="item_name"
                    />
                  </div>
                  <!-- Email -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Item Code"
                      style="margin-top: 30px"
                      name="item_code"
                      required
                    />
                  </div>
                </div>

                <!-- Second Colom -->
                <div class="col-sm" style="margin-left: 10px;">
                  <!-- Company Name -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Local Name"
                      style="margin-top: 30px"
                      name="local_name"
                      required
                    />
                  </div>

                  <!-- Contact -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Item Limit"
                      style="margin-top: 30px"
                      name="item_limit"
                    />
                  </div>

                  <!-- Company Contact -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Item Amount"
                      style="margin-top: 30px"
                      name="item_amount"
                    />
                  </div>

                  <!-- Pan Number -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Pan Number"
                      style="margin-top: 30px"
                      name="pan_number"
                    />
                  </div>
                </div>
              </div>
              <button type="submit"  value="Submit" class="btn btn-primary" style="margin-left:10px ;">Submit</button>
                 </form>
            </div>

            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >

              <!--  <div class="card shadow mb-4"> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Item Details
                    </h6>
                    
                    <!-- Actions -->
                    <!-- <button class="btn frm-ctrl" type="button">
                      <i class="fas fa-edit fa-sm"></i>
                    </button>

                    <button class="btn frm-ctrl" type="button">
                      <i class="fas fa-trash-alt fa-sm"></i>
                    </button> -->
                    
                  </div>
                  
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr class="table-info">
                           <th>User Name</th>
                            <th>Item id</th>
                            <th>Item Name</th>
                            <th>Item Code</th>
                            <th>Local Name</th>
                            <th>Item Limit</th>
                            <th>Item Amount</th>
                              <th>Quantity</th>
                            <th>Actions</th>
                            
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="table-info">
                            <th>User Name</th>
                            <th>Item id</th>
                            <th>Item Name</th>
                            <th>Item Code</th>
                            <th>Local Name</th>
                            <th>Item Limit</th>
                            <th>Item Amount</th>
                            <th>Quantity</th>
                            <th>Actions</th>  
                          </tr>
                        </tfoot>
                        <tbody>
                        {% for item in list %}
                          <tr>
                            <td>{{ item.username }}</td>
                             <td>{{ item.id }}</td>
                            <td>{{ item.item_name }}</td>
                            <td>{{ item.item_code }}</td>
                            <td>{{ item.local_name }}</td>
                            <td>{{ item.item_limit }}</td>
                            <td>{{ item.item_amount }}</td>
                             <td>{{ item.quantity }}</td>
                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                        {% endfor %}

                  
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> 
    
            <!-- Vendor List Table -->
             </div> 
            <!-- /.container-fluid -->
             </div> 
            <!-- End of Main Content -->
            </div>
          </div>
        </div>

        


        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>

     {% endblock content %}
<script>
    $(document).ready(function(){
  $("#home").click(function(){
    $("#datatable").hide();
  });
  $("#profile").click(function(){
    $("#datatable").show();
  });
});

</script>

  </body>
</html>
