{% extends 'sidebar.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <title>Vendor Details</title>


  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">


          <!-- Begin Page Content -->
          <!-- Add Items and List Tab -->
          <!-- Add Items and List Tab -->
           <!-- Page Heading -->
           <div
           class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10px;"
         >
           <h1 class="h3 mb-0 text-gray-800">Loss & Damage</h1>
           <a
             href="#"
             class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             ><i class="fas fa-download fa-sm text-white-50"></i> Generate
             Report</a
           >
         </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Add Items</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Items</a
              >
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <form   action="{% url 'loss&damage' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-sm" style="margin-left:10px;">
                  

                    <div class="col-sm" style="margin-left: 10px;">
                    <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="item_name"
                  >
                    <option selected>Item</option>
                     {% for item in items %}
                    <option value='{{item.item_name}}' >{{item.item_name}} </option>
                    {% endfor %}</option>
                  </select>
                    <!-- Price -->
                    <div class="input-group-lg mb-3">
                      <input
                              type="text"
                              class="form-control"
                              placeholder="Price"
                              style="margin-top: 30px"
                              name="price"
                      />
                    </div>
                  </div>

                  <!-- Second Colom -->
                  <div class="col-sm" style="margin-left: 10px;">
                    <!-- Company Name -->
                    <div class="input-group-lg mb-3">
                      <input
                              type="text"
                              class="form-control"
                              placeholder="Quantity"
                              style="margin-top: 30px"
                              name="quantity"
                      />
                    </div>

                    <!-- Contact -->
                    <div class="input-group-lg mb-3">
                      <input
                              type="text"
                              class="form-control"
                              placeholder="Batch Number"
                              style="margin-top: 30px"
                              name="batch_number"
                      />
                    </div>

               
                  </div>
              
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left:10px ;">Submit</button>
                </div>
              </form>

            </div>
            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
                    class="tab-pane fade"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
            >
              <!--  <div class="card shadow mb-4"> -->
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  Loss & Damage Details
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                          class="table table-bordered"
                          id="dataTable"
                          width="100%"
                          cellspacing="0"
                  >
                    <thead>
                    <tr class="table-info">
                       <th>ID</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Batch Number</th>
                      <th>Actions</th>

                            
                    </tr>
                    </thead>
                    <tfoot>
                    <tr class="table-info">
                       <th>ID</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Batch Number</th>
                      <th>Actions</th>
                            
                    </tr>
                    </tfoot>
                    <tbody>
                      {% for loss in loss %}
                    <tr>
                      <td>{{loss.id}}</td>
                      <td>{{loss.item.item_name}}</td>
                      <td>{{loss.quantity}}</td>
                      <td>{{loss.price}}</td>
                      <td>{{loss.purchase.batch_number}}</td>
                      <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    
            <!-- Vendor List Table -->
          </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    </div>
    </div>
    </div>

        


 {% endblock content %}
  </body>
</html>
