{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

<body>
          <!-- Begin Page Content -->
          <!-- Add Items and List Tab -->
          <!-- Add Items and List Tab -->
           <!-- Page Heading -->
           <div
           class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10px;"
         >
           <h1 class="h3 mb-0 text-gray-800">Purchase Return</h1>
           <a
             href="#"
             class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             ><i class="fas fa-download fa-sm text-white-50"></i> Generate
             Report</a
           >
         </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Add Items</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Items</a
              >
            </li>
          </ul>


            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
                <form   action="{% url 'purchasereturn' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm" style="margin-left:10px;">
                  <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="user_name"
                  >
                    <option selected>User</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>

                 <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="vendor_name"
                  >
                    <option selected>Vendor Name</option>
                    {% for vendor in vendors %}
                    <option value='{{vendor.vendor_name}}'>{{vendor.vendor_name}} </option>
                    {% endfor %}
                  </select>
                  <!-- Quantity -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Quantity"
                      style="margin-top: 30px"
                      name="quantity"
                    />
                  </div>


                  <!-- Date -->
                <div class="input-group-lg mb-3">
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Date"
                    style="margin-top: 30px"
                    name="date"
                  />
                </div>

                </div>



                <!-- Second Colom -->
                <div class="col-sm" style="margin-left: 10px;">
                 <!-- Item Option -->
                  <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="item_name"
                  >
                    <option selected>Item</option>
                     {% for item in items %}
                    <option value='{{item.item_name}}' >{{item.item_name}} </option>
                    {% endfor %}</option>
                  </select>

                  <!-- Bill No -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Bill No"
                      style="margin-top: 30px"
                      name="bill_number"
                    />
                  </div>

                  <!-- Batch Number -->
                  <div class="input-group-lg mb-3">
                    <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="batch_number"
                  >
                    <option selected>BatchNumber</option>
                     {% for batch in purchase %}
                    <option value='{{batch.batch_number}}' >{{batch.batch_number}} </option>
                    {% endfor %}</option>
                  </select>
                  </div>


                </div>

              <button type="submit" class="btn btn-primary" style="margin-left:10px ;">Submit</button>
              </div>
          </form>
            </div>
            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <!--  <div class="card shadow mb-4"> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Sales Return Details
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr class="table-info">
                            <th>ID</th>
                            <th>User</th>
                            <th>Item</th>
                            <th>Vendor</th>
                            <th>Bill No</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Batch_number</th>
                            <th>Actions</th>


                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="table-info">
                            <th>ID</th>
                            <th>User</th>
                            <th>Item</th>
                            <th>Vendor</th>
                            <th>Bill No</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Batch_number</th>
                            <th>Actions</th>

                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            {% for prt in purchasereturn %}
                            <td>{{ prt.id}}</td>
                            <td>{{prt.user_name}}</td>
                            <td>{{ prt.item.item_name}}</td>
                            <td>{{prt.vendor.vendor_name}}</td>
                            <td>{{prt.bill_number}}</td>
                            <td>{{prt.date}}</td>
                            <td>{{prt.quantity}}</td>
                            <td>{{prt.batch.batch_number}}</td>

                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>

                           {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

            <!-- Vendor List Table -->
             </div>
            <!-- /.container-fluid -->
             </div>
            <!-- End of Main Content -->
            </div>
          </div>
        </div>


      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

   {% endblock content %}
  </body>
</html>
