{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

<body>
    <!-- Page Wrapper -->
<div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">


          <!-- Begin Page Content -->
          <!-- Add Items and List Tab -->
          <!-- Add Items and List Tab -->
           <!-- Page Heading -->
           <div
           class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10px;"
         >
           <h1 class="h3 mb-0 text-gray-800">Purchase </h1>
           <a
             href="#"
             class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             ><i class="fas fa-download fa-sm text-white-50"></i> Generate
             Report</a
           >
         </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Voucher</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Items</a
              >
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <form   action="{% url 'add_purchase' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm" style="margin-left:10px;">
                  <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="vendor_name"
                  >
                    <option selected>Vendor Name</option>
                    {% for vendor in vendors %}
                    <option value='{{vendor.vendor_name}}'>{{vendor.vendor_name}} </option>
                    {% endfor %}
                  </select>

                  

                  <div class="input-group-lg mb-3">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Batch Number"
                        style="margin-top: 30px"
                        name="batch_number"
                      />
                    </div>

                    <!-- Pan Number -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Value"
                      style="margin-top: 30px"
                      name="value"
                    />
                  </div>

                 
                  
                  

                 
                    <!-- Bill Image -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Bill Image"
                      style="margin-top: 30px"
                      name="bill_image"
                    />
                  </div>

                 
                </div>

                  <!-- Second Column -->
                  <div class="col-sm" style="margin-left: 10px;">
                    <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="item_name"
                  >
                    <option selected>Item</option>
                     {% for item in items %}
                    <option value='{{item.item_name}}' >{{item.item_name}} </option>
                    {% endfor %}</option>
                  </select>
                  
                  <!-- Contact -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Quantity"
                      style="margin-top: 30px"
                      name="quantity"
                    />
                  </div>

                  <div class="input-group-lg mb-3">
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Date"
                      style="margin-top: 30px"
                      name="date"
                    />
                  </div>

                   <!-- Email -->
                   <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Bill Number"
                      style="margin-top: 30px"
                      name="bill_number"
                    />
                  </div>
                  

                  </div>
                <!-- Third Colom -->
                <div class="col-sm" style="margin-left: 10px;">
                  <!-- Company Name
                  <div class="input-group-lg mb-3">
                    <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="vendor_details"
                  >
                    <option selected>Vendor Details</option>
                      {% for vendor in vendors %}
                    <option value='' >{{vendor.id}} </option>
                    {% endfor %}</option>

                  </select>

                  </div> -->

                
  
                  

                  <!-- Company Contact -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Units"
                      style="margin-top: 30px"
                      name="units"
                    />
                  </div>

                  <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="rack"
                  >
                    <option selected>Rack Number</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>



                </div>
              </div>
              <div class="container" >
                <div class="form-group">
                  <Span style="color: red;" ><label for="textarea1">
                    Remarks
                  </label></Span>
                  <textarea class="form-control" id="textarea1" rows="3" placeholder="Enter Remarks Here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary" >Submit</button>
              </div>
              </form>
            </div>
            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <!--  <div class="card shadow mb-4"> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Purchase Details
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr class="table-info">
                             <th>Vendor Name</th>
                            <th>Item </th>
                            <th>Batch Number</th>
                            <th>Quantity</th>
                            <th>Units</th>
                            <th>Value</th>
                            <th>Bill No</th>
                            <th>Rack No</th>
                            <th>Bill Image</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Actions</th>

                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="table-info">
                            <th>Vendor Name</th>
                            <th>Item </th>
                            <th>Batch Number</th>
                            <th>Quantity</th>
                            <th>Units</th>
                            <th>Value</th>
                            <th>Bill No</th>
                            <th>Rack No</th>
                            <th>Bill Image</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Actions</th>
                          </tr>
                        </tfoot>
                        <tbody>
                        {% for purchase in purchase %}
                          <tr>
                            <td>{{purchase.vendor.vendor_name}}</td>
                            <td>{{purchase.item.item_name}}</td>
                            <td>{{purchase.batch_number}}</td>
                            <td>{{purchase.quantity}}</td>
                            <td>{{purchase.units}}</td>
                            <td>{{purchase.value}}</td>
                            <td>{{purchase.bill_number}}</td>
                             <td>{{purchase.rack}}</td>
                            <td>{{purchase.bill_image}}</td>
                            <td>{{purchase.date}}</td>
                            <td>{{purchase.total}}</td>
                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                        {% endfor %}

                         
                          
                           
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> 
    
            <!-- Vendor List Table -->
             </div> 
            <!-- /.container-fluid -->
             </div> 
            <!-- End of Main Content -->
            </div>
          </div>
        </div>


      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>


  {% endblock content %}
</body>


