{% extends 'sidebar.html' %}
{% load static %}
{% block content %}
<body>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Add Rack</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Rack</a
              >
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
               <form   action="{% url 'rack' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm" >
                  

                  <div class="container" style="margin-top: 30px;">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Number Of Racks</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="rack_no">
                     
                    </div>
    
                    <button type="submit" class="btn btn-primary" >Submit</button>
                  </div>
                </div>
              </div>
              </form>


            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <!--  <div class="card shadow mb-4"> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Rack Details
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr class="table-info">
                            <th> Number Of Racks</th>
                           <th>Actions</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="table-info">
                            <th>Number of Racks</th>
                           <th>Actions</th>
                          </tr>
                        </tfoot>
                        <tbody>
                         
                          <tr>
                            <td>1</td>
                              <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                          <tr>
                            <td>5</td>
                          <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                            
                          </tr>
                          <tr>
                            <td>6</td>
                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> 
    
            <!-- Vendor List Table -->
             </div> 
            <!-- /.container-fluid -->
             </div> 
            <!-- End of Main Content -->
            </div>
          </div>
        </div>

        


    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
  </body>
</html>
