{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->


      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <!-- Add Items and List Tab -->
          <!-- Add Items and List Tab -->
           <!-- Page Heading -->
           <div
           class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-left: 10px;"
         >
           <h1 class="h3 mb-0 text-gray-800">Sales</h1>
           <a
             href="#"
             class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
             ><i class="fas fa-download fa-sm text-white-50"></i> Generate
             Report</a
           >
         </div>

          <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Add Items</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >List Items</a
              >
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- ------Add Items----- -->
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            ><form   action="{% url 'sales' %}" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-sm" style="margin-left:10px;">
                  <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="user_name"
                  >
                    <option selected>User</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>

                  <!-- Quantity -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Quantity"
                      style="margin-top: 30px"
                      name="quantity"
                    />
                  </div>
                  <!-- Email -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Price"
                      style="margin-top: 30px"
                      name="price"
                    />
                  </div>

                  <!-- Bill No -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Bill No"
                      style="margin-top: 30px"
                      name="bill_number"
                    />
                  </div>

                </div>

                <!-- Second Colom -->
                <div class="col-sm" style="margin-left: 10px;">
                  <!-- Item Option -->
                  <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="item_name"
                  >
                    <option selected>Item</option>
                     {% for item in items %}
                    <option value='{{item.item_name}}' >{{item.item_name}} </option>
                    {% endfor %}</option>
                  </select>

                  <!-- Contact -->
                  <div class="input-group-lg mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Unit"
                      style="margin-top: 30px"
                      name="units"
                    />
                  </div>

                  <!-- Customer -->
                   <select
                    class="browser-default custom-select"
                    style="margin-top: 30px; height: 47px;"
                    name="customer_name"
                  >
                    <option selected>Customer</option>
                     {% for customer in customer %}
                    <option value='{{customer.customer_name}}' >{{customer.customer_name}} </option>
                    {% endfor %}</option>
                  </select>

                  
                </div>
              </div>
              <button type="submit" class="btn btn-primary" style="margin-left:10px ;">Submit</button>
            </form>
            </div>
            <!-- ------Add items Ends----- -->

            <!-- -----------List Items----- -->
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <!--  <div class="card shadow mb-4"> -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                      Sales Details
                    </h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        class="table table-bordered"
                        id="dataTable"
                        width="100%"
                        cellspacing="0"
                      >
                        <thead>
                          <tr class="table-info">
                             <th>Id</th>
                            <th>User</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Customer</th>
                            <th>Bill No</th>
                            <th>Actions</th>
                            
                          </tr>
                        </thead>
                        <tfoot>
                          <tr class="table-info">
                            <th>Id</th>
                            <th>User</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Customer</th>
                            <th>Bill No</th>
                            <th>Actions</th>
                            
                          </tr>
                        </tfoot>
                        <tbody>
                        {% for sales in sales %}
                          <tr>
                            <td>{{sales.id}}</td>
                            <td>{{ sales.user_name}}</td>
                            <td>{{ sales.item.item_name}}</td>
                             <td>{{sales.quantity}}</td>
                            <td>{{sales.customer.customer_name}}</td>
                            <td>{{sales.bill_number}}</td>

                            <td><button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></td>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> 
    
            <!-- Vendor List Table -->
             </div> 
            <!-- /.container-fluid -->
             </div> 
            <!-- End of Main Content -->
            </div>
          </div>
        </div>

        

        {% endblock content %}
  </body>
</html>
