{% load static %}
<html>
<head>
    <!-- Custom fonts for this template -->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href=" {%static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href=" {%static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}"
      rel="stylesheet"
    />
      <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
</head>
<body>
<!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="index.html"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Stock Manager</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">Interface</div>

        <!-- Nav Item - Items -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'items' %}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Items</span></a
          >
        </li>

        <!-- Nav Item - Vendor Details -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vendordetails' %}">
            <i class="fas fa-fw fa-address-book"></i>
            <span>Vendor Details</span></a
          >
        </li>

        <!-- Nav Item - Customer -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'customer' %}">
            <i class="fas fa-fw fa-user"></i>
            <span>Customer</span></a
          >
        </li>

        <!-- Nav Item - Purchase -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'purchase' %}">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>Purchase</span></a
          >
        </li>

        <!-- Nav Item - Lost Damage -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'loss&damage' %}">
            <i class="fas fa-fw fa-house-damage"></i>
            <span>Loss & Damage</span></a
          >
        </li>

        <!-- Nav Item - Sales -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sales'  %}">
            <i class="fas fa-fw fa-caret-up"></i>
            <span>Sales</span></a
          >
        </li>

        <!-- Nav Item - Sales Return  -->
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'salesreturn'  %}">
            <i class="fas fa-fw fa-caret-down"></i>
            <span>Sales Return</span></a
          >
        </li>

        <!-- Nav Item - Purchase Return  -->
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'purchasereturn'  %}">
            <i class="fas fa-fw fa-level-down-alt"></i>
            <span>Purchase Return</span></a
          >
        </li>

        <!-- Nav Item - Stock Transfer -->
        <li class="nav-item">
          <a class="nav-link" href= "{% url 'stocktransfer'  %}">
            <i class="fas fa-fw fa-exchange-alt"></i>
            <span>Stock Transfer</span></a
          >
        </li>

        <!-- Nav Item - Rack -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rack'  %}">
            <i class="fas fa-fw fa-archive"></i>
            <span>Rack</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->

          <button type="button" class="btn btn-danger btn-md">Bill</button>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
              <button
                id="sidebarToggleTop"
                class="btn btn-link d-md-none rounded-circle mr-3"
              >
                <i class="fa fa-bars"></i>
              </button>
            </form>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
          </nav>
          <!-- End of Topbar -->
        </div>
      </div>
    </div>

<!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
        <!-- End of Footer -->

<!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src=" {% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js'}"></script>
{% block content %}
{% endblock content %}
</body>
</html>