{% extends 'sidebar.html' %}
{% load static %}
{% block content %}

<body>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left: 10px;">
    <li class="nav-item">
        <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
        >Add Items</a
        >
    </li>
    <li class="nav-item">
        <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
        >List Items</a
        >
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <!-- ------Add Items----- -->
    <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
    >
        <!-- Content Row -->
        <div class="row" style="margin-left: 10px; margin-top: 30px;">
            <!-- In Table -->
            <div class="col-xl-6 col-md-6 mb-4">
                <table class="table table-bordered " id="stockIn" width="50%" cellspacing="0">
                    <thead>
                    <tr class="table-success">
                        <th><span style="color:green">Stock In (TO) <i class="fas fa-fw fa-caret-up"></i></span></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr class="table-info">
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>

                         {% for item in purchase %}

                        <td>{{item.item_id}}</td>
                        <td id="qty">{{item.quantity}}</td>
                        <td>{{item.units}}</td>
                        <td >{{item.value}}</td>
                         <td>{{item.total}}</td>



                    </tr>
                    {% endfor %}


                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="table-success"><span style="color: green;"> Stock In (TO) <i
                                class="fas fa-fw fa-caret-up"></i></span></th>

                    </tr>
                    </tfoot>
                </table>

            </div>

            <!-- Content Row -->
            <!-- Out Table -->
            <div class="col-xl-6 col-md-6 mb-4">
                <table class="table table-bordered" id="stockOut" width="100%" cellspacing="0">
                    <thead>
                    <tr class="table-danger">
                        <th><span style=color:red>Stock Out (FROM) <i class="fas fa-fw fa-caret-down"></i></span></th>
                    </tr>
                    <thead>
                    <tr class="table-info">
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        {% for item in sales %}

                        <td>{{item.item_id}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.units}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.total}}</td>

                    </tr>
                         {% endfor %}
                    </tbody>


                    </thead>
                    <tfoot>
                    <tr>
                        <th class="table-danger"><span style="color: red;">Stock Out (FROM)<i
                                class="fas fa-fw fa-caret-down"></i></span></th>

                    </tr>
                    </tfoot>
                </table>

            </div>
            <div>
                <button type="button" class="btn btn-primary" style="margin-left:10px ;">Submit</button>
            </div>

        </div>
    </div>
    <!-- ------Add items Ends----- -->

    <!-- -----------List Items----- -->
    <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
    >
        <!--  <div class="card shadow mb-4"> -->
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Stock Transfer Details
            </h6>
        </div>
        <div class="row" style="margin-left: 10px; margin-top: 30px;">
            <!-- In Table -->
            <div class="col-xl-6 col-md-6 mb-4">
                <table class="table table-bordered " id="stockIn" width="50%" cellspacing="0">
                    <thead>
                    <tr class="table-success">
                        <th><span style="color:green">Stock In (TO) <i class="fas fa-fw fa-caret-up"></i></span></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr class="table-info">
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        {% for item in purchase %}

                        <td>{{purchase.item_id}}</td>
                        <td>{{purchase.quantity}}</td>
                        <td>{{purchase.unit}}</td>
                        <td>{{purchase.value}}</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>

                        <td>$170,750</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$86,000</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$433,060</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$162,700</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$372,000</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$137,500</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$327,900</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$205,500</td>
                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="table-success"><span style="color: green;"> Stock In (TO) <i
                                class="fas fa-fw fa-caret-up"></i></span></th>

                    </tr>
                    </tfoot>
                </table>

            </div>

            <!-- Content Row -->
            <!-- Out Table -->
            <div class="col-xl-6 col-md-6 mb-4">
                <table class="table table-bordered" id="stockOut" width="100%" cellspacing="0">
                    <thead>
                    <tr class="table-danger">
                        <th><span style=color:red>Stock Out (FROM) <i class="fas fa-fw fa-caret-down"></i></span></th>
                    </tr>
                    <thead>
                    <tr class="table-info">
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>$320,800</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>

                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$86,000</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$433,060</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$162,700</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$372,000</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$137,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$327,900</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>


                        <td>$205,500</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>$170,750</td>
                        <td>
                            <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>


                    </thead>
                    <tfoot>
                    <tr>
                        <th class="table-danger"><span style="color: red;">Stock Out (FROM)<i
                                class="fas fa-fw fa-caret-down"></i></span></th>

                    </tr>
                    </tfoot>
                </table>


            </div>

        </div>
    </div>

    <!-- Vendor List Table -->
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</div>
</div>
</div>



{% endblock content %}

<script>
    let a = document.getElementById("qty").innerText;
    let b = document.getElementById("value").innerText;
    let c = a*b;
    console.log(c);


    console.log("loalaasd");

</script>
</body>
</html>
